body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 15px;
}

#image_container {
    width:100%;
    overflow:auto;
}

#image_left {
    float: left;
    width: 33%;
}

#image_right {
    float: left;
    width: 33%;
}


p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


